[submodule "aft-core"]
	path = aft-core
	url = https://github.com/bicarbon8/aft-core.git
	branch = master
[submodule "aft-web-services"]
	path = aft-web-services
	url = https://github.com/bicarbon8/aft-web-services.git
	branch = master
[submodule "aft-testrail"]
	path = aft-testrail
	url = https://github.com/bicarbon8/aft-testrail.git
	branch = master
[submodule "aft-ui"]
	path = aft-ui
	url = https://github.com/bicarbon8/aft-ui.git
	branch = master
[submodule "aft-ui-selenium"]
	path = aft-ui-selenium
	url = https://github.com/bicarbon8/aft-ui-selenium.git
	branch = master
[submodule "aft-logging-awskinesis"]
	path = aft-logging-awskinesis
	url = https://github.com/bicarbon8/aft-logging-awskinesis.git
	branch = master
